{% extends 'base.html.twig' %}

{% block navigation %}
    {% include 'navigation_pages.html.twig' %}
{% endblock %}

{% block body %}
    <br>
    <br>
    <section id="equip_cv">
        <div class="container" id="1">
            <br>
            <br>
            <br>
            <!--Cristina Rubio-->
            <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/team/1.jpg') }}" alt="Cristina Rubio">
            <div class="bg-curriculums">
                <h4 class="service-heading text-center"><br>Cristina Rubio</h4>
                <p class="bg-faded-description p-3 rounded">
                    <b>Formació</b><br>
                    Psicòloga Sanitaria. Col·legiada número <b>14.593</b><br>
                    Máster en Musicoteràpia, UB/Fundació Bosch i Gimpera.<br>
                    Curs de Metodologia Bàsica per al Control Preventiu del Deteriorament Cognitiu, UAB.<br>
                    Especialista en el tractament de nens, adults i persones grans amb diferents tipus i graus de discapacitat, tant física com intel·lectual, així com també en el tractament del dol.<br>
                    <br>
                    <b>Experiència laboral:</b><br>
                    Directora de PSIMUVA (Centre de Psicologia i Musicoteràpia del Vallès)<br>
                    Psicòloga i Musicoterapeuta a l’Associació Catalana per al Parkinson, Delegacions de Sant Cugat del Vallès i de Cerdanyola-Ripollet, Associació de Vidus i Vídues de Badia del Vallès, i en consulta privada.<br>
                    Com a Musicoterapeuta al CEE Ca n’Oriol, Fundació Privada Pro-disminuïts Psíquics Finestrelles, TEB Vallès, en el projecte “Viure i conviure” de Caixa Catalunya amb la Fundació Bosch Gimpera i en diferents residències i casals.<br>
                    Docent del Màster de Musicoteràpia a ISEP, així com també realitzant classes sobre diferents aspectes de la Psicologia i la Musicoteràpia a la Fundació Pere Tarrés, per a entitats especialitzades en Formació Contínua i també realitzant xerrades per a associacions, casals...<br>
                    Ponent a diferents congressos, seminaris i jornades.
                </p>
            </div>
        </div>
        <div class="container" id="2">
            <br>
            <br>
            <br>
            <!--Aina Valls-->
            <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/team/3.jpg') }}" alt="Aina Valls">
            <div class="bg-curriculums">
                <h4 class="service-heading text-center"><br>Aina Valls</h4>
                <p class="bg-faded-description p-3 rounded">
                    <b>Formació</b><br>
                    Grau en violí, especialitat de Pedagogia.<br>
                    Actualment cursant el Màster de Musicoterapia a la UB.<br>
                    Especialista en educació amb nens i nenes, adolescents i persones adultes amb algun grau de discapacitat física o cognitiva i amb nens i nenes amb altes capacitats.<br>
                    <br>
                    <b>Experiència laboral:</b><br>
                    Pedagoga a PSIMUVA (Centre de Psicologia i Musicoteràpia del Vallès)<br>
                    Professora a diverses escoles de música i de classes particulars.<br>
                    Co-fundadora i directora del projecte "Ensemble Em sembla...bé! Orquestra", dedicada a joves amb algun tipus de diversitat funcional.
                </p>
            </div>
        </div>
    </section>
{% endblock %}