<section id="services" class="bg-proves">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Com treballem?</h2>
                <h3 class="section-subheading text-muted">PSIMUVA és un centre de diagnosi i assistència multidisciplinar, integrat per professionals de:</h3>
            </div>
        </div>
        <div class="row text-center">
             <div class="col-md-4">
                 <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/psico.jpg') }}" alt="">
                 <h4 class="service-heading">Psicologia clínica</h4>
                 <p class="text-muted">
                     Les nostres idees i emocions marquen el que fem i com afrontem els problemes.
                     T’oferim assessorament, avaluació, diagnòstic diferencial i tractament personalitzat i professional.
                 </p>
             </div>
             <div class="col-md-4">
                 <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/mt.jpg') }}" alt="">
                 <h4 class="service-heading">Musicoteràpia</h4>
                 <p class="text-muted">
                     "La nostra vida es com una composició musical que executem, potser sense conèixer la música i ni tan sols la partitura"<br>Tabucchi.
                 </p>
             </div>
             <div class="col-md-4">
                 <img class="product-item-img mx-auto d-flex imgRedonda mb-3 mb-lg-0" src="{{ asset('assets/img/portfolio/ped_1.bmp') }}" alt="">
                 <h4 class="service-heading">Pedagogia/Reforç escolar</h4>
                 <p class="text-muted">
                     Què fer davant un problema a classe? Ajudem a tirar endavant amb els problemes immediats, recolzem i guiem l’aprenentatge i facilitem eines als aprenents.
                 </p>
             </div>
        </div>
        <br>
        <br>
    </div>
</section>
