<section class="bg-proves" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">El nostre equip</h2>
                <br>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <a href="{{ path('equip') }}">
                        <img class="mx-auto rounded-circle" src="{{ asset('assets/img/team/1.jpg') }}" alt="">
                    </a>
                    <h4>Cristina Rubio</h4>
                    <p class="text-muted">Psicòloga Clínica i Sanitària
                        <br class=" text-muted">Musicoterapeuta </p>
                    <ul class="list-inline social-buttons">
                        <!-- <li class="list-inline-item">
                          <a href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li> -->
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/cristina-rubio-pacheco-1a206283/">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-sm-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
                <h4>Larry Parker</h4>
                <p class="text-muted">Lead Marketer</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div> -->
            <div class="col-sm-6">
                <div class="team-member">
                    <img class="mr-lg-1 rounded-circle" src="{{ asset('assets/img/team/3.jpg') }}" alt="">
                    <h4>Aina Valls</h4>
                    <p class="text-muted">Pedagoga musical
                        <br class=" text-muted">Estudiant de musicoterapia </p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="row">
           <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
           </div>
         </div> -->
    </div>
</section>
