<h5>Informació de contacte del formulari web</h5>
<br>
<br>
<ul>
    <li><b>Nom</b>: {{ name }}</li>
    <li><b>E-mail</b>: {{ email }}</li>
    <li><b>Telèfon</b>: {{ phone }}</li>
    <li><b>Missatge</b>: <p>{{ message }}</p></li>
</ul>